<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div>
      <label>Category Name</label>
      <input
        type="text"
        class="form-control"
        #categoryName>
    </div>
    <div>
      <label>Weight</label>
      <input
        type="number"
        class="form-control"
        #categoryWeight>
    </div>
    <div>
      <label>Grade</label>
      <input
        type="number"
        class="form-control"
        #categoryGrade>
    </div>
    <br>
    <div>
      <button
        class="btn btn-primary"
        (click)="onAddCategory(categoryName.value, categoryWeight.value, categoryGrade.value)">
        Add Category
      </button> &nbsp;
      <button
        class="btn btn-danger"
        (click)="onClearCategories()">
        Clear Categories
      </button>
    </div>
  </div>
</div>

<!--<div class="container container-fluid">-->
<!--  <div class="alert alert-success alert-dismissible fade in">-->
<!--    <strong>SUCCESS!</strong> Adding New Category Successed.-->
<!--  </div>-->
<!--</div>-->
