<div class="container">
  <h1>Welcome to Grade Calculator!!!</h1>
  <div>This page contains the instructions on how to make use of the tool to calculate the grade</div>
  <hr>
  <div>
    <h2>
      Calculation Page
    </h2>
    <p>
      Click on the "Calculation" tab to go to the calculation page.
    </p>
    <p>
      Type in the name, weight and the grade you got for each category
      and click on "Add Category" button to add the category.
    </p>
    <p>
      Click on "Calculate" button to do the calculation.
      The calculation will include all the added categories.
      Click on "Delete Category" button to delete the corresponding
      category or click on "Clear Category" button to delete all the
      categories.
    </p>
      <br/>
  </div>
  <hr>
  <div>
    <h2>
      History Page
    </h2>
    <p>
      Click on the "History" tab to go to the history page. <br/>
    </p>
    <br/>
    <p>
      A history can be added to the history page by click on the
      "Save" button on the calculation page. The history must be
      saved with a non-empty title.
    </p>
    <br/>
    <p>
      Click on the "Delete History" button to delete the corresponding history.
      Or click on the "Clear History" button to delete all the histories.
    </p>
  </div>
</div>
